.footer {
  width: 318px;
  height: 18px;
  color: #6f6d6d;
  margin: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 318px;
    height: 18px;
    color: #6f6d6d;
    margin: auto;
    margin-bottom: 20px;
  }
}
