.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
  width: 100%;
  max-width: 1280px;
  margin-top: 45px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}
